#../CompareSet/kinseyreporter/kinseyreporter
#Mon Apr 09 10:56:51 CEST 2018
RESMIDDLE=\\s.{0,10}
PARAIN=query
PARAMIDDLE=10
URLTAG=
URLKEY=Example URL\:
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,200}
URL1RES2=true
REQEXAMPLE=http
URLTEMPLATE=
EXISTPARA=true
RESTEMPLATE=pre
REQTEMPLATE=code
VERBKEY=
EXISTVERB=no
MODE=key
STUFFING=.{0,10}
URLMIDDLE=
RESKEY=Example JSON Response\:
URL1REQ2=true
PARAKEY=Parameters\:
REVERSE=no
