#../CompareSet/mobbr/mobbr
#Fri Mar 16 14:09:58 CET 2018
RESMIDDLE=\\s.{0,150}
PARAIN=query
PARAMIDDLE=200
URLKEY=
SEARCHBASE=true
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=
URL1PARA2=true
REQKEY=no
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,60}
URL1RES2=true
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=false
RESTEMPLATE=code
REQTEMPLATE=p
VERBKEY=
EXISTVERB=yes
MODE=/
STUFFING=\\s.{0,5}
URLMIDDLE=
RESKEY=no
URL1REQ2=true
PARAKEY=Parameters
REVERSE=no
