#../CompareSet/linkedin/linkedin
#Mon Dec 04 23:05:58 CET 2017
RESMIDDLE=\\s
PARAIN=query
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=table
URLAFTER=\ 
URL1PARA2=true
REQKEY=no
REQMIDDLE=(.*?)
URL1RES2=true
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQEXAMPLE=curl
URLTEMPLATE={
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=code
MODE=https
STUFFING=\\s
URLMIDDLE=
RESKEY=(example)|(response)
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
APIKEYNAME=oauth2_access_token
APIKEYVALUE=AQUB8glR3XG-bwtaoTD-m24YRmQpE_FPRNsFvrXE2jhnz2QDE8v7C5hNR41XYYj0UOeVx4Sdiz1PXANENItACuVoPdSOexeMkOgJJo7Ui8oC2w9Gr_C4u2ZG7W-q4WKbhlTFjJ0tg0cZ05Vm00xgoyMq4MhkZfH7Ce2FT_MxYIVD63kLA0GdrO0gfDfWOoHpXE_ft56IgVVA8T7VOq4nqY50pz5NkB0DqA5YEwI_HRvuluf4nuG_nneB-Lr9hgJrRD0s_9sNY2eR2TWEGYQROmUuo0zxRnNd9hFZqjLql6BFdFFah2HG2j2S6WIRXJg2wwlQyzAuqEM9MSF7SJSUC5zYDZnE0w