#../CompareSet/eventful/eventful
#Thu Mar 22 10:29:13 CET 2018
RESMIDDLE=\\s
PARAIN=query
PARAMIDDLE=20
URLKEY=API Method
SEARCHBASE=false
URLBASE=
ABBREV_DELETE=delete
NUMBER=multiple
TEMPLATE=list
URLAFTER=\n
URL1PARA2=true
REQKEY=Example Request
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
REQMIDDLE=.{0,60}
URL1RES2=true
REQEXAMPLE=http
URLTEMPLATE=no
EXISTPARA=true
RESTEMPLATE=code
REQTEMPLATE=p
VERBKEY=
EXISTVERB=no
MODE=key
STUFFING=\\s
URLMIDDLE=
RESKEY=Example response
URL1REQ2=true
PARAKEY=(parameter)|(argument)|(field)|(parameters)|(arguments)
REVERSE=no
APIKEYNAME=app_key
APIKEYVALUE=rgtSFmtx9tTPpXTr