<button type="button" class="btn btn-secondary" (click)="updateEditor()">Update</button>
<!-- <pre>
  {{openapi | json}}
</pre> -->

<!-- <t-json-viewer [json]="openapi"></t-json-viewer> -->
<!-- <json-formatter json="openapi" open="1"></json-formatter> -->
<!-- <json-formatter json="{my: 'json'}" open="1"></json-formatter> -->
<!-- <angular-jsoneditor ng-model="openapi" options="options" style="width: 100%; height: 400px;"></angular-jsoneditor> -->

<!-- <div id="jsoneditor" style="width: 400px; height: 400px;"></div> -->

<!-- <div ng-jsoneditor ng-model="openapi" options="obj.options" style="width: 400px; height: 300px;"></div> -->

<!-- <json-editor [config]="config" [schema]="mySchema" [(record)]="myRecord"></json-editor> -->

<!-- <json-editor [options]="editorOptions" [data]="data"></json-editor> -->

<!-- <pretty-json json="jsonObj"></pretty-json> -->

<div style="height:600px;"> 
  <json-editor [options]="editorOptions" [data]="data" ></json-editor>
</div>