{
  "basePath": "/sell/account/v1",
  "paths": {
    "/return_policy": {
      "POST": {},
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "marketplace_id",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/payment_policy/{payment_policy_id}": {
      "DELETE": {
        "parameters": [
          {
            "in": "path",
            "name": "payment_policy_id",
            "description": "string A unique eBay-assigned ID for a payment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "GET": {
        "parameters": [
          {
            "in": "path",
            "name": "payment_policy_id",
            "description": "string A unique eBay-assigned ID for a payment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "PUT": {
        "parameters": [
          {
            "in": "path",
            "name": "payment_policy_id",
            "description": "string A unique eBay-assigned ID for a payment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/sales_tax/{countryCode}/{jurisdictionId}": {
      "DELETE": {
        "parameters": [
          {
            "in": "path",
            "name": "jurisdictionId",
            "description": "string Unique ID for a sales tax jurisdiction.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "countryCode",
            "description": "CountryCodeEnum A two-letter ISO 3166-1 Alpha-2 .\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      },
      "PUT": {
        "parameters": [
          {
            "in": "path",
            "name": "jurisdictionId",
            "description": "string Unique ID for a sales tax jurisdiction.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "countryCode",
            "description": "CountryCodeEnum A two-letter ISO 3166-1 Alpha-2 .\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/fulfillment_policy/get_by_policy_name": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/return_policy/{return_policy_id}": {
      "DELETE": {
        "parameters": [
          {
            "in": "path",
            "name": "return_policy_id",
            "description": "string A unique eBay-assigned ID for a return policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "GET": {
        "parameters": [
          {
            "in": "path",
            "name": "return_policy_id",
            "description": "string A unique eBay-assigned ID for a return policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "PUT": {
        "parameters": [
          {
            "in": "path",
            "name": "return_policy_id",
            "description": "string A unique eBay-assigned ID for a return policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/return_policy/get_by_policy_name": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/program/opt_in": {
      "POST": {}
    },
    "/payment_policy": {
      "POST": {},
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "marketplace_id",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/program/get_opted_in_programs": {
      "GET": {}
    },
    "/program/opt_out": {
      "POST": {}
    },
    "/privilege": {
      "GET": {}
    },
    "/fulfillment_policy/{fulfillmentPolicyId}": {
      "DELETE": {
        "parameters": [
          {
            "in": "path",
            "name": "fulfillmentPolicyId",
            "description": "string A unique eBay-assigned ID for a fulfillment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "GET": {
        "parameters": [
          {
            "in": "path",
            "name": "fulfillmentPolicyId",
            "description": "string A unique eBay-assigned ID for a fulfillment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      },
      "PUT": {
        "parameters": [
          {
            "in": "path",
            "name": "fulfillmentPolicyId",
            "description": "string A unique eBay-assigned ID for a fulfillment policy that's generated when the policy is created.\nOccurrence: Required\n",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/payment_policy/get_by_policy_name": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/fulfillment_policy": {
      "POST": {},
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "marketplace_id",
            "description": "MarketplaceIdEnum A unique identifier for an eBay marketplace.\nOccurrence: Required\n",
            "type": "integer",
            "required": true
          }
        ]
      }
    }
  },
  "produces": "application/json",
  "host": "api.ebay.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}