SEARCHBASE=false
URLBASE=
STUFFING=(.*?)
URLMIDDLE=
URLAFTER=
URLTEMPLATE={id}
REVERSE=yes
EXISTVERB=yes
URLKEY=
URLKEY=
MODE=https://
ABBREV_DELETE=del
REQKEY=Response
REQMIDDLE=
REQEXAMPLE=
URL1REQ2=true
REQTEMPLATE=
RESKEY=no
RESMIDDLE=\\s.{0,60}
URL1RES2=false
RESTEMPLATE=code
RESEXAMPLE=((\{)|(\[)){1}(.*?)((\})|(\])){1}
EXISTPARA=true
PARAKEY=Parameters
URL1PARA2=false
PARAMIDDLE=13
PARAIN=query
TEMPLATE=table
NUMBER=multiple
