{
  "basePath": "/v1",
  "paths": {
    "/users/{user-id}/media/recent": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "max_id",
            "description": "Return media earlier than this max_id.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "min_id",
            "description": "Return media later than this min_id.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "count",
            "description": "Count of media to return.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/{user-id}": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/self/follows": {
      "GET": {}
    },
    "/users/self/media/recent": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/search": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "max_like_id",
            "description": "Return media liked before this id.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "count",
            "description": "Count of media to return.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/self/media/liked": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "max_id",
            "description": "Return media earlier than this max_id.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "min_id",
            "description": "Return media later than this min_id.",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "count",
            "description": "Count of media to return.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/tags/nofilter/media/recent": {
      "DEL": {}
    },
    "/locations/{location-id}/media/recent": {
      "DEL": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/media/{media-id}": {
      "GET": {}
    },
    "/tags/{tag-name}/media/recent": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/media/shortcode/D": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/tags/{tag-name}": {
      "GET": {}
    },
    "/media/{media-id}/comments": {
      "POST": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      },
      "GET": {}
    },
    "/users/self": {
      "GET": {}
    },
    "/users/self/requested-by": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/self/followed-by": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/media/{media-id}/likes": {
      "GET": {},
      "DEL": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/users/{user-id}/relationship": {
      "GET": {
        "parameters": [
          {
            "in": "query",
            "name": "access_token",
            "description": "A valid access token.",
            "type": "integer",
            "required": true
          }
        ]
      }
    },
    "/locations/{location-id}": {
      "PATCH": {}
    }
  },
  "produces": "application/json",
  "host": "api.instagram.com",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}