SEARCHBASE=false
URLBASE=
STUFFING=(.*?)
URLMIDDLE=\ 
URLAFTER=
URLTEMPLATE={id}
REVERSE=yes
EXISTVERB=yes
URLKEY=
VERBKEY=
MODE=https://
ABBREV_DELETE=delete
REQKEY=response
REQMIDDLE=\\s.{0,60}
REQEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
URL1REQ2=true
REQTEMPLATE=pre
RESKEY=response
RESMIDDLE=\\s.{0,120}
URL1RES2=false
RESTEMPLATE=pre
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
EXISTPARA=true
PARAKEY=Parameters
URL1PARA2=true
PARAMIDDLE=13
PARAIN=query
TEMPLATE=table
NUMBER=multiple
