SEARCHBASE=false
URLBASE=
STUFFING=(.*?)
URLMIDDLE=
URLAFTER=
URLTEMPLATE={id}
REVERSE=yes
EXISTVERB=yes
URLKEY=
VERBKEY=
MODE=https://
ABBREV_DELETE=delete
REQKEY=no
REQMIDDLE=
REQEXAMPLE=
URL1REQ2=true
REQTEMPLATE=
RESKEY=no
RESMIDDLE=
URL1RES2=false
RESTEMPLATE=
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
EXISTPARA=true
PARAKEY=Parameters
URL1PARA2=true
PARAMIDDLE=13
PARAIN=query
TEMPLATE=table
NUMBER=multiple
