SEARCHBASE=false
URLBASE=
STUFFING=
URLMIDDLE=
URLAFTER=
URLTEMPLATE=
REVERSE=
EXISTVERB=yes
URLKEY=
VERBKEY=
MODE=undefined
ABBREV_DELETE=
REQKEY=no
REQMIDDLE=
REQEXAMPLE=
URL1REQ2=true
REQTEMPLATE=
RESKEY=no
RESMIDDLE=
URL1RES2=false
RESTEMPLATE=
RESEXAMPLE=((\\{)|(\\[)){1}(.*?)((\\})|(\\])){1}
EXISTPARA=false
PARAKEY=
URL1PARA2=true
PARAMIDDLE=13
PARAIN=query
TEMPLATE=
NUMBER=multiple
