{
  "swagger": "2.0",
  "info": {
    "title": "api.groupme.com",
    "version": "0.0"
  },
  "host": "api.groupme.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/messages/:conversation_id/:message_id/unlike": {
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/users/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/users/sms_mode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Users"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:id/destroy": {
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/blocks/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:group_id/likes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        }
      }
    },
    "/bots/destroy": {
      "get": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:id/join/:share_token": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Join"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Join"
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Me"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Me"
            }
          }
        }
      }
    },
    "/groups/change_owners": {
      "post": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Change_owners"
            }
          }
        }
      }
    },
    "/groups/:group_id/members/{membersId}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "membersId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Add"
            }
          }
        }
      }
    },
    "/groups/:group_id/members/results/:results_id": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Results"
            }
          }
        }
      }
    },
    "/groups/join": {
      "post": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Join"
            }
          }
        }
      }
    },
    "/bots/post": {
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:group_id/memberships/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/blocks/between": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Between"
            }
          }
        }
      }
    },
    "/groups/:group_id/likes/for_me": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        }
      }
    },
    "/groups/:id/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/groups/:group_id/members/:membership_id/remove": {
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:id": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Groups"
            }
          }
        }
      }
    },
    "/users/sms_mode/delete": {
      "delete": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/messages/:conversation_id/:message_id/like": {
      "post": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/groups/:group_id/likes/mine": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Mine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Mine"
            }
          }
        }
      }
    },
    "/groups/:group_id/messages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        }
      }
    },
    "/groups/former": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Former"
              }
            }
          }
        }
      }
    },
    "/bots": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Bots"
            }
          }
        }
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Bots"
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "definitions": {
    "Groups": {
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "share": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "creator_user_id": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "updated_at": {
          "type": "integer"
        },
        "share_url": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    },
    "Update": {
      "type": "object",
      "properties": {
        "avatar_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "zip_code": {
          "type": "string"
        }
      }
    },
    "Users": {
      "type": "object"
    },
    "User": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "integer"
        },
        "registration_id": {
          "type": "string"
        }
      }
    },
    "Likes": {
      "type": "object"
    },
    "Like": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "source_guid": {
          "type": "string"
        },
        "system": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        },
        "favorited_by": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user_id": {
          "type": "string"
        },
        "group_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "id": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "count": {
          "type": "integer"
        },
        "last_message_id": {
          "type": "string"
        },
        "last_message_created_at": {
          "type": "integer"
        },
        "Preview": {
          "$ref": "#/definitions/Preview"
        },
        "liked_at": {
          "type": "string"
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lat": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "placeholder": {
          "type": "string"
        },
        "charmap": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "Blocks": {
      "type": "object"
    },
    "Block": {
      "type": "object",
      "properties": {
        "blocked_user_id": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "Block": {
          "$ref": "#/definitions/Block"
        }
      }
    },
    "Join": {
      "type": "object",
      "properties": {
        "Group": {
          "$ref": "#/definitions/Group"
        }
      }
    },
    "Preview": {
      "type": "object",
      "properties": {
        "nickname": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      }
    },
    "Member": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        },
        "muted": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "guid": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "app_installed": {
          "type": "string"
        },
        "autokicked": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Me": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "updated_at": {
          "type": "integer"
        },
        "email": {
          "type": "string"
        },
        "sms": {
          "type": "string"
        }
      }
    },
    "Change_owners": {
      "type": "object"
    },
    "Change_owner": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Result"
          }
        }
      }
    },
    "Result": {
      "type": "object",
      "properties": {
        "group_id": {
          "type": "string"
        },
        "owner_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        }
      }
    },
    "Add": {
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        }
      }
    },
    "Results": {
      "type": "object"
    },
    "Chats": {
      "type": "object"
    },
    "Last_message": {
      "type": "object",
      "properties": {
        "attachments": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "source_guid": {
          "type": "string"
        },
        "sender_type": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "sender_id": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        },
        "favorited_by": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user_id": {
          "type": "string"
        },
        "conversation_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "recipient_id": {
          "type": "string"
        }
      }
    },
    "Chat": {
      "type": "object",
      "properties": {
        "messages_count": {
          "type": "integer"
        },
        "updated_at": {
          "type": "integer"
        },
        "created_at": {
          "type": "integer"
        },
        "Last_message": {
          "$ref": "#/definitions/Last_message"
        },
        "Other_user": {
          "$ref": "#/definitions/Other_user"
        }
      }
    },
    "Other_user": {
      "type": "object",
      "properties": {
        "avatar_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        }
      }
    },
    "Between": {
      "type": "object",
      "properties": {
        "between": {
          "type": "string"
        }
      }
    },
    "Unkown": {
      "type": "object",
      "properties": {
        "Direct_message": {
          "$ref": "#/definitions/Direct_message"
        }
      }
    },
    "Direct_message": {
      "type": "object",
      "properties": {
        "source_guid": {
          "type": "string"
        },
        "recipient_id": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      }
    },
    "Mine": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "Messages": {
      "type": "object"
    },
    "Former": {
      "type": "object",
      "properties": {
        "creator_user_id": {
          "type": "string"
        },
        "updated_at": {
          "type": "integer"
        },
        "image_url": {
          "type": "string"
        },
        "share_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    },
    "Bots": {
      "type": "object"
    },
    "Bot": {
      "type": "object",
      "properties": {
        "callback_url": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        },
        "group_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "bot_id": {
          "type": "string"
        },
        "dm_notification": {
          "type": "string"
        }
      }
    }
  }
}