{
  "swagger": "2.0",
  "info": {
    "title": "api.groupme.com",
    "version": "0.0"
  },
  "host": "api.groupme.com",
  "basePath": "/groups",
  "schemes": [
    "https"
  ],
  "paths": {
    "/update": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Former"
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/:group_id/likes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        }
      }
    },
    "/:id/join/:share_token": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Join"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Join"
            }
          }
        }
      }
    },
    "/:group_id/members/{membersId}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "membersId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Add"
            }
          }
        }
      }
    },
    "/:group_id/members/results/:results_id": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Results"
            }
          }
        }
      }
    },
    "/:group_id/memberships/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/:group_id/likes/for_me": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Likes"
            }
          }
        }
      }
    },
    "/:id/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        }
      }
    },
    "/:group_id/likes/mine": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Mine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Mine"
            }
          }
        }
      }
    },
    "/:group_id/messages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Groups": {
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "share": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "creator_user_id": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "updated_at": {
          "type": "integer"
        },
        "share_url": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    },
    "Update": {
      "type": "object",
      "properties": {
        "avatar_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "zip_code": {
          "type": "string"
        }
      }
    },
    "Likes": {
      "type": "object"
    },
    "Like": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "source_guid": {
          "type": "string"
        },
        "system": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        },
        "favorited_by": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user_id": {
          "type": "string"
        },
        "group_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "id": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "count": {
          "type": "integer"
        },
        "last_message_id": {
          "type": "string"
        },
        "last_message_created_at": {
          "type": "integer"
        },
        "Preview": {
          "$ref": "#/definitions/Preview"
        },
        "liked_at": {
          "type": "string"
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lat": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "placeholder": {
          "type": "string"
        },
        "charmap": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "Join": {
      "type": "object",
      "properties": {
        "Group": {
          "$ref": "#/definitions/Group"
        }
      }
    },
    "Preview": {
      "type": "object",
      "properties": {
        "nickname": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      }
    },
    "Member": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        },
        "muted": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "guid": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "app_installed": {
          "type": "string"
        },
        "autokicked": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Me": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "updated_at": {
          "type": "integer"
        },
        "email": {
          "type": "string"
        },
        "sms": {
          "type": "string"
        }
      }
    },
    "Change_owners": {
      "type": "object"
    },
    "Change_owner": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Result"
          }
        }
      }
    },
    "Result": {
      "type": "object",
      "properties": {
        "group_id": {
          "type": "string"
        },
        "owner_id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        }
      }
    },
    "Add": {
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        }
      }
    },
    "Results": {
      "type": "object"
    },
    "Between": {
      "type": "object",
      "properties": {
        "between": {
          "type": "string"
        }
      }
    },
    "Mine": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "Messages": {
      "type": "object"
    },
    "Former": {
      "type": "object",
      "properties": {
        "creator_user_id": {
          "type": "string"
        },
        "updated_at": {
          "type": "integer"
        },
        "image_url": {
          "type": "string"
        },
        "share_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "integer"
        },
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "Message": {
          "$ref": "#/definitions/Message"
        }
      }
    }
  }
}