{
  "basePath": "/2.0/",
  "paths": {
    "?method=user.getWeeklyChartList": {
      "GET": {
        "request": "/2.0/?method=user.getweeklychartlist&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=artist.removeTag": {
      "GET": {}
    },
    "?method=auth.getMobileSession": {
      "GET": {}
    },
    "?method=tag.getWeeklyChartList": {
      "GET": {
        "request": "/2.0/?method=tag.getweeklychartlist&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.getInfo": {
      "GET": {
        "request": "/2.0/?method=track.getInfo&api_key=YOUR_API_KEY&artist=cher&track=believe&format=json"
      }
    },
    "?method=track.getSimilar": {
      "GET": {
        "request": "/2.0/?method=track.getsimilar&artist=cher&track=believe&api_key=YOUR_API_KEY&forma..."
      }
    },
    "?method=user.getRecentTracks": {
      "GET": {
        "request": "/2.0/?method=user.getrecenttracks&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.getInfo": {
      "GET": {
        "request": "/2.0/?method=album.getinfo&api_key=YOUR_API_KEY&artist=Cher&album=Believe&format=json"
      }
    },
    "?method=tag.getTopAlbums": {
      "GET": {
        "request": "/2.0/?method=tag.gettopalbums&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=chart.getTopTracks": {
      "GET": {
        "request": "/2.0/?method=chart.gettoptracks&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.addTags": {
      "POST": {}
    },
    "?method=artist.getCorrection": {
      "GET": {}
    },
    "?method=tag.getTopTags": {
      "GET": {
        "request": "/2.0/?method=tag.getTopTags&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.getCorrection": {
      "GET": {}
    },
    "?method=artist.search": {
      "GET": {
        "request": "/2.0/?method=artist.search&artist=cher&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getInfo": {
      "GET": {
        "request": "/2.0/?method=user.getinfo&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=artist.addTags": {
      "POST": {}
    },
    "?method=track.addTags": {
      "POST": {}
    },
    "?method=tag.getSimilar": {
      "GET": {
        "request": "/2.0/?method=tag.getsimilar&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.search": {
      "GET": {
        "request": "/2.0/?method=track.search&track=Believe&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=tag.getInfo": {
      "GET": {
        "request": "/2.0/?method=tag.getinfo&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.removeTag": {
      "GET": {}
    },
    "?method=auth.getSession": {
      "GET": {}
    },
    "?method=user.getWeeklyTrackChart": {
      "GET": {
        "request": "/2.0/?method=user.getweeklytrackchart&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.getTopTags": {
      "GET": {
        "request": "/2.0/?method=album.gettoptags&artist=radiohead&album=the%20bends&api_key=YOUR_API_..."
      }
    },
    "?method=chart.getTopTags": {
      "GET": {
        "request": "/2.0/?method=chart.gettoptags&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getTopTags": {
      "GET": {
        "request": "/2.0/?method=user.gettoptags&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.removeTag": {
      "GET": {}
    },
    "?method=geo.getTopArtists": {
      "GET": {
        "request": "/2.0/?method=geo.gettopartists&country=spain&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.getTags": {
      "GET": {
        "request": "/2.0/?method=album.gettags&artist=cher&album=believe&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getWeeklyAlbumChart": {
      "GET": {
        "request": "/2.0/?method=user.getweeklyalbumchart&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getArtistTracks": {
      "GET": {
        "request": "/2.0/?method=user.getartisttracks&user=rj&artist=metallica&api_key=YOUR_API_KEY&fo..."
      }
    },
    "?method=geo.getTopTracks": {
      "GET": {
        "request": "/2.0/?method=geo.gettoptracks&country=spain&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=artist.getTopAlbums": {
      "GET": {
        "request": "/2.0/?method=artist.gettopalbums&artist=cher&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getWeeklyArtistChart": {
      "GET": {
        "request": "/2.0/?method=user.getweeklyartistchart&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=chart.getTopArtists": {
      "GET": {
        "request": "/2.0/?method=chart.gettopartists&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getFriends": {
      "GET": {
        "request": "/2.0/?method=user.getfriends&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=tag.getTopArtists": {
      "GET": {
        "request": "/2.0/?method=tag.gettopartists&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getTopArtists": {
      "GET": {
        "request": "/2.0/?method=user.gettopartists&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getTopAlbums": {
      "GET": {
        "request": "/2.0/?method=user.gettopalbums&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.getTags": {
      "GET": {
        "request": "/2.0/?method=track.getTags&api_key=YOUR_API_KEY&artist=AC/DC&track=Hells+Bells&use..."
      }
    },
    "?method=artist.getTopTracks": {
      "GET": {
        "request": "/2.0/?method=artist.gettoptracks&artist=cher&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.getTopTags": {
      "GET": {
        "request": "/2.0/?method=track.gettoptags&artist=radiohead&track=paranoid+android&api_key=YOUR..."
      }
    },
    "?method=artist.getSimilar": {
      "GET": {
        "request": "/2.0/?method=artist.getsimilar&artist=cher&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=album.search": {
      "GET": {
        "request": "/2.0/?method=album.search&album=believe&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=artist.getTags": {
      "GET": {
        "request": "/2.0/?method=artist.getTags&artist=Red%20Hot%20Chili%20Peppers&user=RJ&api_key=YOU..."
      }
    },
    "?method=user.getLovedTracks": {
      "GET": {
        "request": "/2.0/?method=user.getlovedtracks&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=artist.getInfo": {
      "GET": {
        "request": "/2.0/?method=artist.getinfo&artist=Cher&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=auth.getToken": {
      "GET": {
        "request": "/2.0/?method=auth.gettoken&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getPersonalTags": {
      "GET": {
        "request": "/2.0/?method=user.getpersonaltags&user=rj&tag=rock&taggingtype=artist&api_key=YOUR..."
      }
    },
    "?method=library.getArtists": {
      "GET": {
        "request": "/2.0/?method=library.getartists&api_key=YOUR_API_KEY&user=joanofarctan&format=json"
      }
    },
    "?method=tag.getTopTracks": {
      "GET": {
        "request": "/2.0/?method=tag.gettoptracks&tag=disco&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=user.getTopTracks": {
      "GET": {
        "request": "/2.0/?method=user.gettoptracks&user=rj&api_key=YOUR_API_KEY&format=json"
      }
    },
    "?method=track.updateNowPlaying": {
      "GET": {}
    },
    "?method=artist.getTopTags": {
      "GET": {
        "request": "/2.0/?method=artist.gettoptags&artist=cher&api_key=YOUR_API_KEY&format=json"
      }
    }
  },
  "produces": "application/json",
  "host": "ws.audioscrobbler.com",
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": "This is the information of the API"
}